In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [3]:
#Mean and standard deviation df.describe()

In [4]:
df.shape

(60943, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

### Q5. Total Protein Supply quantity in Madagascar in 2015

In [6]:
#Total Protein Supply quantity in Madagascar in 2015
df[df['Area'] == 'Madagascar'][['Y2015','Element']].groupby(['Element']).sum()

                                           Y2015
Element
Domestic supply quantity                31214.98
Export Quantity                           494.75
Fat supply quantity (g/capita/day)         91.85
Feed                                     2070.22
Food                                    21120.65
Food supply (kcal/capita/day)            7685.00
Food supply quantity (kg/capita/yr)       871.59
Import Quantity                          1721.80
Losses                                   2176.00
Other uses (non-food)                    3957.12
Processing                               1803.00
Production                              29482.89
Protein supply quantity (g/capita/day)    173.05
Residuals                                -616.00
Seed                                      699.00
Stock Variation                          -505.00
Total Population - Both sexes           24234.00

### Q6a. #Mean across the whole dataset for the year 2017 to 2 decimal places

In [7]:
#Mean across the whole dataset for the year 2017 to 2 decimal places 
round(df['Y2017'].mean(),2)

140.92

### Q6b. #Standard Deviation across the whole dataset for the year 2017 to 2 decimal places

In [8]:
#Standard Deviation across the whole dataset for the year 2017 to 2 decimal places 
round(df['Y2017'].std(),2)

1671.86

### Q7. Area with the 7th lowest sum in 2017

In [9]:
#Area with the 7th lowest sum in 2017
df2 = df[['Area','Y2017']].groupby(['Area']).sum().sort_values(['Y2017'])
df2.iloc[6:7]

                  Y2017
Area
Guinea-Bissau  19102.77

### Q8. Year with the highest sum of Stock Variation

In [10]:
df[df['Element'] == 'Stock Variation'].groupby(['Element']).sum().max()

Area Code         571566.00
Item Code       11329527.00
Element Code    21464704.00
Y2014              58749.83
Y2015              34910.99
Y2016              33140.12
Y2017              54316.91
Y2018              20577.91
dtype: float64

### Q9a. Total number of missing data in 2014 to 3dp

In [11]:
df['Y2014'].isnull().sum()

1589

### Q9b. Percentage of missing data in 2014 to 3dp

In [12]:
df['Y2014'].isnull().sum()/df.shape*100

array([2.60735441e+00, 1.32416667e+04])

### Q11. Area with the highest sum in 2017

In [13]:
df3 = df[['Area','Y2017']].groupby(['Area']).sum().sort_values(['Y2017'],ascending=False)
df3.iloc[:1]

              Y2017
Area
Nigeria  1483268.23

### Q12. Total number of unique countries in the dataset

In [14]:
df['Area'].nunique()

49

### Q14. Total number of the sum of processing in 2017

In [15]:
df4 = df[df['Element'] == 'Processing'].groupby(['Element']).sum().max()
df4

Area Code         271940.0
Item Code        5350416.0
Element Code    10313310.0
Y2014             282923.0
Y2015             287929.0
Y2016             280631.0
Y2017             292836.0
Y2018             308429.0
dtype: float64

### Q18. Which year had the least correlation with "Element Code'?

In [16]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

### Q19. Total sum of wine produced in 2015 and 2018

In [17]:
df5 = df[df['Item'] == 'Wine'].groupby(['Item']).sum()
df5

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32